.container {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.input {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    color: #333;
    background-color: white;
}
