.container {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--main-color);
}

.input {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    color: var(--main-color);
    background-color: var(--background);
}
