.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--background);
}

.backButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: var(--main-color);
  cursor: pointer;
  text-transform: uppercase;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  outline: none;
  font-size: 1.2rem;
}

.backButton:hover {
  transform: scale(1.05);
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.imageContainer {
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
}

.imageContainer img {
  width: auto;
  height: 80%;
  z-index: 2;
  object-fit: contain;
}

.infoProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--background);
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}

.infoProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.descriptionContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brand {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 0.5rem;
  z-index: 2;
}

.description {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1rem;
  color: var(--main-color);
  z-index: 2;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.quantitySelector {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity {
  font-size: 1.2rem;
}

.totalPrice {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: black;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.addToCartButton {
  background-color: #28a745;
  color: #fff;
}

.addToCartButton:hover {
  background-color: #218838;
}

.colorOptionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.optionsColorsGrid {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.colorOption {
  width: 30px;
  height: 30px;
  border: 2px solid var(--second-color);
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.colorOption.selected {
  border: 2px solid var(--main-color);
}

.similarProductsTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--main-color);
}

.similarProductsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.similarProducts {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  scroll-behavior: smooth;
}

.similarProducts::-webkit-scrollbar {
  height: 8px;
}

.similarProducts::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scrollItem {
  flex: 0 0 auto;
  width: 350px;
  height: 350px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scrollItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.specsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.specsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.specItem {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.specItem strong {
  color: #000;
}

.storageOptionButton {
  padding: 1rem;
  width: 100px;
  border: 1px solid var(--second-color);
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--background);
  transition: background-color 0.3s ease, border-color 0.2s ease;
}

.storageOptionButton.selected {
  border: 2px solid var(--main-color);
}

.storageOptionsContainer {
  margin-top: 1rem;
  width: 100%;
}

.storageOption {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.storageOptionButton {
  color: var(--main-color);
  padding: 1rem;
  width: 100px;
  height: 60px;
  border: 1px solid var(--second-color);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: var(--background);
  transition:
    background-color 0.3s ease,
    border-color 0.2s ease;
}

.storageOptionButton.selected {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--background);
}

.storageOptionButton:hover {
  transform: scale(1.05);
  background-color: var(--main-color);
  color: var(--hover-color);
}

.productTitle {
  font-size: 1.6rem;
  color: var(--main-color);
  margin: 0;
}

.productPrice {
  font-size: 1.2rem;
  color: var(--second-color);
  margin-top: 10px;
}

.sectionTitle {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 1rem;
}

.productColor {
  font-size: 1rem;
  color: var(--second-color);
  margin: 0;
}

.optionsStorageGrid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.addButton {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
}

.addButton.disabled {
  background-color: var(--second-color);
  color: var(--main-color);
  cursor: not-allowed;
}

.addButton.enabled {
  background-color: var(--main-color);
  color: var(--background);
  cursor: pointer;
}

.addButton.enabled:hover {
  background-color: #008000;
}

.specificationsContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.specificationsTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--main-color);
}

.specRow {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--main-color);
}

.specKey {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--main-color);
  flex: 1;
}

.specValue {
  font-size: 0.8rem;
  color: var(--main-color);
  flex: 2;
  text-align: left;
  padding-left: 1rem;
  word-wrap: break-word;
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  transition: bottom 0.3s ease-in-out;
  z-index: 1;
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image {
  width: auto;
  height: 80%;
  z-index: 2;
  object-fit: contain;
}

.model {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--main-color);
  z-index: 2;
}

.infoContainer {
  text-align: center;
}

.similarProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--main-color);
  overflow: hidden;
  height: 350px;
  width: 350px;
  cursor: pointer;
  background-color: var(--background);
}

.similarProductCard:hover .overlay {
  bottom: 0;
}

.similarProductCard:hover .brand,
.similarProductCard:hover .model,
.similarProductCard:hover .price {
  color: var(--hover-color);
}

.productInfo {
  flex: 20%;
  padding: 1rem;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }

  .storageOptionButton {
    width: 80px;
  }
}
